.active {
  @apply w-full h-[103vh] backdrop-blur-xl fixed top-[-20px] left-0 right-0 bottom-0 z-[12]  block;
  animation: blurareaAnimate .5s ease-in;
}
.notActive {
  @apply backdrop-blur-xl absolute left-0 right-0  z-[-1] top-[-1000px;];
  animation: blurareaAnimatereverse 5s ease-out;
}
.navContentHidden {
  display: none;
}
.navContentShown {
  display: block;
}

@keyframes blurareaAnimate {
  from {

    top: -1000px;
  }
  to {

    top: -20px;
  }
}
@keyframes blurareaAnimatereverse {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
